:root {
  --bg-color: #e9eaec;
  --link-color: green;
  --color-5: rebeccapurple;
  --green10: #038c4c;
  --green20: #02733e;
  --green30: #045e2b;
  --main-text-color: #000;
  --primary-font: "Urbanist", sans-serif;
  --secondary-font: "Montserrat", serif;

  --white-space: 1rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

body {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  gap: 7rem;
  justify-content: space-around;
  align-items: baseline;
  padding: 1rem;
  margin-right: 15rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

a {
  color: var(--green20);
  text-decoration: none;
  font-weight: 200;
  font-size: 1.3rem;
  cursor: pointer;
}
nav a:hover {
  color: var(--green30);
  text-decoration-line: underline;
  transition: all 0.5s;
  font-size: 1.4rem;
}
nav a:first-child {
  margin-right: auto;
  font-size: 3rem;
  font-weight: 700;
  /*  margin-top: -0.5rem; */
  font-family: var(--primary-font);
  margin-left: 5rem;
}

main {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
}
.plantmain {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr;
  margin-left: 4.5vw;
}
.listmain {
  margin-left: 20vw;
  margin-right: 20vw;
}
.mainimg {
  grid-column: 1;
  margin-left: 10vw;
  margin-top: 5vw;
  width: 30vw;
}
.logo {
  color: var(--green30);
  text-decoration-line: none;
}
.logo:hover {
  text-decoration-line: none;
  font-size: 3.2rem;
}

.mainpage {
  grid-column: 2;
  margin-top: 4vw;
  margin-left: -5vw;
  margin-right: 15vw;
}
*/

/* INDEX */


.frontpage_section {
  grid-column: 2;
  margin-top: 4vw;
  margin-left: 5vw;
  margin-right: 15vw;
  width: 25vw;
}

.secondary-button {
  margin-top: 2vw;
  background: var(--green30);
  box-shadow: none;
  color: var(--bg-color);
  padding: 1.2vw;
  border-radius: 20px;
  font-family: var(--primary-font);
  font-weight: 700;
}

.secondary-button:hover {
  background: var(--bg-color);
  color: var(--green30);
  padding: 0.9vw;
}
button {
  font-family: "urbanist", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background: var(--bg-color);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1rem 1rem 0;
}
/* LIST PAGES */

/* PRODUCT PAGE */
.product {
  display: block;
  /* grid-gap: 3vw;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1; */
  margin-left: 4.5vw;
}
.name,
.latinname,
.species,
.description,
.flowers,
.watering,
.directsunlight {
  grid-column: 1;
}
.latinname {
  font-family: looking-flowers-script, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.75rem;
  color: var(--green30);
}
.productimg {
  grid-column-start: 2;
  height: 30rem;
  padding: 3rem;
}

h1 {
  font-size: 4rem;
  color: var(--green30);
}

p {
  color: var(--main-text-color);
  letter-spacing: 0.05rem;
}

/*Footer*/

.footer_container {
  margin-top: 10vh;
  background-color: #01401c;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  height: 8vh;
  padding-bottom: 8vh;
  padding-left: 10vw;
  color: var(--bg-color);
  grid-gap: 5vw;
}
footer p {
  color: var(--bg-color);
}
h3 {
  font-size: 1rem;
  text-align: left;
}

.social {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.ig {
  position: absolute;
  background: no-repeat;
  width: 3vw;
  padding-top: 7vh;
  margin-left: 5vw;
  margin-right: 2rem;
}

.fb {
  position: absolute;
  background-size: 100%;
  width: 3vw;
  padding-top: 7vh;
  margin-left: -0vw;
  margin-right: 2rem;
}

.snapchat {
  position: absolute;
  background-size: 100%;
  width: 3vw;
  padding-top: 7vh;
  margin-left: 10vw;
  margin-right: 2rem;
}

ul {
  padding-left: 0;
}

li {
  line-height: 3vh;
  list-style: none;
  padding-left: 0;
}

.listimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 30rem;
  height: 30rem;
}
.listh1 {
  text-align: center;
  font-weight: 200;
  font-size: 1.3rem;
}
.speciesh1 {
  text-align: center;
  font-weight: 200;
  font-size: 1.3rem;
}
.name-species {
  text-align: center;
}

/* Media queries - need to EDIT */

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
/* IMAGEPAGE */
body .image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.imagesss img {
  width: 100%;
}
