:root {
  /*   --bg-color: #6c7d6a;
  --link-color: #185d0b;
  --link-hover-color: #185d0b;
  --color-4: #185d0b;
  --color-5: #185d0b;
 */
  --primary-font: "Urbanist", sans-serif;
  --secondary-font: "Montserrat", serif;
  --main-text-color: #185d0b;

  --white-space: 1rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

body {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;

  gap: 7rem;
  justify-content: space-around;
  align-items: baseline;

  padding: 1rem;
  margin-right: 15rem;
  margin-left: 5rem;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 200;
  font-size: 1.3rem;
  cursor: pointer;
}

nav a:first-child {
  margin-right: auto;
  font-size: 3rem;
  font-weight: 700;
  /*  margin-top: -0.5rem; */
  font-family: var(--primary-font);
  margin-left: 5rem;
}

main {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 40% 40% 20%;
}
.plantmain {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr;
  margin-left: 4.5vw;
}
.listmain {
  margin-left: 20vw;
  margin-right: 20vw;
}
.mainimg {
  grid-column: 1;
  margin-left: 10vw;
  margin-top: 5vw;
  width: 30vw;
}

.mainpage {
  grid-column: 2;
  margin-top: 4vw;
  margin-left: -5vw;
  margin-right: 15vw;
}
*/

/*.mainpage {*/
.frontpage_section {
  grid-column: 2;
  margin-top: 4vw;
  margin-left: 5vw;
  margin-right: 15vw;
  width: 25vw;
}
/* PRODUCT PAGE */
.product {
  display: block;
  /* grid-gap: 3vw;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1; */
  margin-left: 4.5vw;
}
.name,
.latinname,
.species,
.description,
.flowers,
.watering,
.directsunlight {
  grid-column: 1;
}

.productimg {
  grid-column-start: 2;
}

h1 {
  font-size: 4rem;
  color: var(--main-text-color);
}

p {
  color: var(--main-text-color);
  letter-spacing: 0.05rem;
}

/*Footer*/

.footer_container {
  margin-top: 20vh;
  background-color: #01401c;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  height: 20vh;
  padding: 3vw;
  padding-left: 10vw;
}

h3 {
  font-size: 1rem;
  color: white;
}

.social {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 40vw;
}

.ig img {
  position: absolute;
  background: no-repeat;
  width: 3vw;
  padding-top: 7vh;
  margin-left: -5vw;
  margin-right: 2rem;
}

.fb img {
  position: absolute;
  background-size: 100%;
  width: 3vw;
  padding-top: 7vh;
  margin-left: -5vw;
  margin-right: 2rem;
}

.snapchat img {
  position: absolute;
  background-size: 100%;
  width: 3vw;
  padding-top: 7vh;
  margin-left: -6vw;
  margin-right: 2rem;
}

.listimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
.listh1 {
  text-align: center;
  font-weight: 200;
  font-size: 1.3rem;
}
.speciesh1 {
  text-align: center;
  font-weight: 200;
  font-size: 1.3rem;
}
.name-species {
  text-align: center;
}

/* Media queries - need to EDIT */

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 15vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
